<div class="station">
  <h3>
    <b>{{ station.id }} {{ station.name }}</b>
  </h3>
  <div class="row">
    <div class="col-6 inner-box">
      <div>
        <img src="../assets/icons/bike.svg" class="icon" alt="back arrow" />
      </div>
      <span>Available bikes</span>
      <h1 class="bike-color">
        <b>{{ station.bikes }} </b>
      </h1>
    </div>
    <div class="col-6 inner-box">
      <div>
        <img src="../assets/icons/lock.svg" class="icon" alt="back arrow" />
      </div>
      <span>Available places</span>
      <h1>
        <b>{{ station.free_racks }}</b>
      </h1>
    </div>
  </div>
</div>
