.station {
  margin: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  @media (min-width: 1200px) {
    max-width: 60vw;
    margin: auto;
    margin-top: 20px;
  }
}
