/* You can add global styles to this file, and also import other style files */
.marker-label{
    font-size: 24px;
    font-weight:bold;
    background: none !important;
    border: none !important;
    color: green !important;
    text-shadow: none!important;
    box-shadow: none !important;
outline: none!important;
 &:before {border: none !important};

}
