.map{
    height: 50vh;
}
    .marker-label{
        font-size: 15px;
        font-weight:bold;
        padding: 0px;
        background: none;
        border: none;
        color: aqua;
        text-shadow: 0px 0px 10px black;
        box-shadow: none;
    outline: none;

    }
